<!DOCTYPE html>
<html>
<head>
  <title>Quota</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= google_webfonts_init({google: ['Quicksand']}) %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>

<%= yield %>

<div id="user-modal" class="hide">
	<h4>choose a theme for a personal touch</h4>
	<div class="theme sea-trigger"> under the sea </div>
	<div class="theme space-trigger"> deep space </div>
	<div class="theme farm-trigger"> farm life </div>
</div>

</body>
</html>
